html{height:100%}
body{position:relative;box-sizing:border-box;margin:0;padding:0 0 84px;min-height:100%;background-color:#fff;background-size:cover;background-repeat:no-repeat;background-attachment:fixed;color:#444;font-size:87.5%;font-family:Avenir Next,Helvetica,Arial,Lantinghei SC,Microsoft YaHei,sans-serif}
::selection{background:rgba(255,57,56,.2)}
::-webkit-scrollbar{width:9pt;background:rgba(58,57,56,.2)}
::-webkit-scrollbar-thumb{background:rgba(58,57,56,.62)}
pre::-webkit-scrollbar{width:9pt;background:rgba(58,57,56,.8)}
pre::-webkit-scrollbar-thumb{background:rgba(255,255,255,.62)}
tr:first-child {background-color: #A2D5E4;}
#oneimg{position:absolute;height:100%;width:100%;background-size:cover;background-repeat:no-repeat}
.changerimg{position:fixed;right:5px;bottom:20px;z-index:6;cursor:pointer}
#oneimgmenu{display:none;border-radius:8px;background-color:rgba(255,253,253,.34);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66ffffff, endColorstr=#66ffffff)}
.hcset{padding:15px 0 0 10px}
.look{display:inline;margin:10px 5px;padding:5px 10px;border-radius:5px;background-color:#d07878;box-shadow:1px 1px 5px #b5b5b5;text-align:center}
.look,.look>a{color:#fff}
.cssload-fond{position:fixed;top:46%;left:46%;display:none;margin:auto}
.cssload-container-general{width:43px;height:43px;animation:cssload-animball_two 1.15s infinite;-webkit-animation:cssload-animball_two 1.15s infinite}
.cssload-internal{position:absolute;width:43px;height:43px}
.cssload-ballcolor{width:19px;height:19px;border-radius:50%}
.cssload-ball_1,.cssload-ball_2,.cssload-ball_3,.cssload-ball_4{position:absolute;animation:cssload-animball_one 1.15s infinite ease;-webkit-animation:cssload-animball_one 1.15s infinite ease}
.cssload-ball_1{top:0;left:0;background-color:#cb2025}
.cssload-ball_2{top:0;left:23px;background-color:#f8b334}
.cssload-ball_3{top:23px;left:0;background-color:#00a096}
.cssload-ball_4{top:23px;left:23px;background-color:#97bf0d}
@keyframes cssload-animball_one{0%,50%{position:absolute}
50%{top:9pt;left:9pt;opacity:.5}
}
@-webkit-keyframes cssload-animball_one{0%,50%,to{position:absolute}
50%{top:9pt;left:9pt;opacity:.5}
to{position:absolute}
}
@keyframes cssload-animball_two{0%{transform:rotate(0) scale(1)}
50%{transform:rotate(360deg) scale(1.3)}
to{transform:rotate(720deg) scale(1)}
}
@-webkit-keyframes cssload-animball_two{0%{-webkit-transform:rotate(0) scale(1)}
50%{-webkit-transform:rotate(360deg) scale(1.3)}
to{-webkit-transform:rotate(720deg) scale(1)}
}
.range input{overflow:hidden;margin-top:5px;margin-bottom:5px;padding-right:2px;padding-left:1px;width:auto;height:1pc;outline:0;background:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#ccc),color-stop(100%,#ccc)) center no-repeat;background:linear-gradient(to right,#ccc 0,#ccc 100%) center no-repeat;background-size:99% 2px;-webkit-appearance:none}
.range input::-webkit-slider-thumb{position:relative;width:1pc;height:1pc;border:0;border-radius:50%;background-color:#fff;box-shadow:0 0 2px rgba(0,0,0,.3),0 3px 5px rgba(0,0,0,.2);cursor:pointer;-webkit-appearance:none}
a{position:relative;color:#000;text-decoration:none}
a:focus{outline:0}
a:active,a:hover{left:3px}
a.leftlogo:hover{left:0}
li,ul{margin:0;padding:0}
code{padding:2px 4px}
@keyframes fade-in{0%{opacity:0}
to{opacity:1}
}
@keyframes fade{10%{transform:scale(1,1)}
35%,40%{transform:scale(1,1.7)}
50%{opacity:1}
60%,to{transform:scale(1,1)}
to{opacity:0}
}
[class^=lang] code,[data-language] code,pre [class^=lang],pre [data-language]{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";animation:50ms ease-in-out 2s forwards fade-in}
[class^=lang] code.rainbow,[data-language] code.rainbow,pre [class^=lang].rainbow,pre [data-language].rainbow{animation-delay:0s}
[class^=lang] code.loading,[data-language] code.loading,pre [class^=lang].loading,pre [data-language].loading{animation-play-state:paused}
pre{position:relative;overflow:auto;padding:8px;max-height:25pc;background-color:#333;color:#fff}
pre.loading .preloader div{animation-play-state:running}
pre.loading .preloader div:nth-of-type(1){background:#0081f5;animation:fade 1.5s .3s linear infinite}
pre.loading .preloader div:nth-of-type(2){background:#5000f5;animation:fade 1.5s 438ms linear infinite}
pre.loading .preloader div:nth-of-type(3){background:#9000f5;animation:fade 1.5s 577ms linear infinite}
pre.loading .preloader div:nth-of-type(4){background:#f50419;animation:fade 1.5s 715ms linear infinite}
pre.loading .preloader div:nth-of-type(5){background:#f57900;animation:fade 1.5s 853ms linear infinite}
pre.loading .preloader div:nth-of-type(6){background:#f5e600;animation:fade 1.5s 992ms linear infinite}
pre.loading .preloader div:nth-of-type(7){background:#00f50c;animation:fade 1.5s 1.13s linear infinite}
pre .preloader{position:absolute;top:9pt;left:10px}
pre .preloader div{display:inline-block;margin-right:4px;width:9pt;height:9pt;border-radius:4px;opacity:0;animation-play-state:paused;animation-fill-mode:forwards}
pre{margin:0;margin-bottom:20px;padding:10px;color:#fff;word-wrap:break-word;font-size:.875rem}
code,pre{font-family:Monaco,Menlo,courier,monospace}
pre .comment{color:#93c}
pre .constant{color:#3387cc}
pre .storage{color:#cc7833}
pre .string{color:#6c3}
pre .keyword,pre .selector{color:#cc7833}
pre .inherited-class{font-style:italic}
pre .support{color:#c83730}
code{background-color:transform}
blockquote{margin:1em 0;padding-left:1.5em;border-left:4px solid #eee;color:#666}
table{width:100%;border:1px solid #ddd}
table td,table th{padding:5px 10px;border:1px solid #eee}
table th{background:#f3f3f3}
h1,h2,h3,h4,h5,h6{font-family:Avenir Next,Helvetica,Arial,Lantinghei SC,Microsoft YaHei,sans-serif}
input[type=email],input[type=password],input[type=text],input[type=url],textarea{box-sizing:border-box;padding:5px;width:100%;border:1px solid #e9e9e9;border-radius:2px}
textarea{resize:vertical}
.blog-left{position:fixed;top:0;left:0;overflow:hidden;padding-top:8%;width:20%;height:100%;background-color:rgba(58,57,56,.62);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#C83a3938, endColorstr=#C83a3938);animation: join 1s;}
.content{margin-left:25pc}
.leftlogo{text-align:center}
.leftlogoimg{width:75pt;height:75pt;border-radius:50%}
.leftlogoimg:hover{animation: dou .3s 5;}
.leftlogotitle a,.leftnav a{color:#fff;text-decoration:none}
.leftlogotitle{margin-bottom:40px;font-size:2em}
.leftblog-menu>li{list-style-type:none;text-align:center;font-size:1.5em}
.leftblog-menu>li:hover{background-color:#959090}
.leftnav>.leftblog-menubar{display:none;width:30px;border:1px solid #fff;border-radius:5px}
.leftnav>.leftblog-menubar>.bar1{margin:5px;width:20px;height:3px;background-color:#fff}
.leftblog-menu a{display:block}
.search-form{margin:0 auto;width:220px;height:80%}
.search-form #s{box-sizing:border-box;padding:0 9pt 0 46px;width:100%;height:100%;outline:0;border:none;border-radius:0;background:transparent url(img/icon-search.png) no-repeat 15px center;background-size:20px auto;color:#fff;font-size:1pc;font-family:Lato,Helvetica Neue,sans-serif;-webkit-appearance:none;word-break:normal}
.search-form #s:focus{background-color:hsla(0,0%,100%,.08);background-position:15px center;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#C8ffffff, endColorstr=#C8ffffff)}
.container-warp{overflow-x:hidden}
.container{margin-left:20%}
.container-main{margin:20px 5% 0;padding:5px 5%}
.comment-content a:hover,.post-content a:hover,.post-meta a:hover,.widget a:hover{border-bottom-color:transparent}

.browsehappy{padding:8px 0;background:#fbe3e4;color:#8a1f11;text-align:center}
.browsehappy a{color:#8a1f11;text-decoration:underline;font-weight:700}
.post{margin-bottom:40px;padding:20px 5.5%;border-radius:10px;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, endColorstr=#CCDFFFFFF)}
.post-title{margin: 12px 0;font-weight:400;font-size:2.25em;line-height:120%}
.post-meta{margin-top:-.5em;padding:0;font-size:.92857em}
.post-meta,.post-meta a{color:#716d6d}
.post-meta li{display:inline-block;margin:0 8px 0 0;padding-left:9pt}
.post-meta li:first-child{margin-left:0;padding-left:0;border:none}
.post-content{line-height:1.5}
.post .tags{clear:both}
.post-near{margin:30px 0;padding:0;color:#e4e4e4;list-style:none}
.post-near>.near{display:inline-block;padding:10px 20px;border-radius:8px;background-color:#504b4b}
.post-near>.near-two{float:right}
.post-near>.near>a{color:#fff}
.archive-title{position:relative;top:-20px;left:50px;margin:1em 0 -1em;padding-top:20px;color:#999;font-size:1em}
.more{text-align:center}
.more a{border:none}
.protected .text{width:50%}
.page-navigator{margin:25px 0;padding:0;border-radius:6px;background-color:hsla(0,0%,93%,.7);list-style:none;text-align:center}
.page-navigator li{display:inline-block;margin:0 4px}
.page-navigator a{display:inline-block;padding:0 10px;height:30px;line-height:1.875rem}
.page-navigator a:hover{background:#eee;text-decoration:none}
.page-navigator .current a{background:#eee;color:#444}
#comments{padding:20px;min-height:200px;border-radius:4px}
textarea.form-control {
    width: 100%;
    height: 10rem;
    resize: none;
    margin: 15px 0 0 0;
        font-size: 14px;
    line-height: 1.42857;
    color: #555;
        padding: 6px 12px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
background: #fdfdfd bottom right 20px no-repeat url(https://www.haotown.cn/changyan/3.png)!important;
padding:10px 20px
}
.AjaxComment_success {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    border-radius: 12px;
    background-color: #f6f6f6;
    border: 1px solid #c8c8c8;
}
#comments>.ol,.comment-list .ol{list-style:none;}
.comment-list,.comment-list ol{margin:0;padding:0;list-style:none}
.comment-children { margin-left: 30px;padding-left:20px;border-left: 1px dotted #828282}
.comment-reply{text-align:right;font-size:.92857em}
.comment-meta a{color:#999;font-size:.92857em}
.comment-author{display:block;margin-bottom:3px;color:#444;padding-top:20px;}
.comment-author .avatar {float: left;display: block;margin: 1.4rem 1rem 0 0; width: 40px;height: 40px;border-radius: 50%;border: 1px solid #ddd;}
.comment-author cite{font-weight:700;font-style:normal}
.comment-list .respond{margin-top:15px;border-top:1px solid #eee}
.comment-information>.comment-in>input{max-width:200px}
.comment-information{display:flex;display:-webkit-flex}
.comment-information>.comment-in{flex:1}
.comment-xx {display: inline-block;width: 30%;margin: 0 10px;}
.respond .cancel-comment-reply{float:right;margin-top:15px;font-size:.92857em}
.respond {margin-top: 15px;border-top: 4px solid #9d9d9d;}
#comment-form label{display:inline;margin-bottom:.5em;font-weight:700}
#comment-form .required:after{color:#c00;content:" *"}
#comment-form .submit{    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: #676365;
    color: #fff;
    font-size: 1.3em;
    line-height: 2em;}
#secondary{padding-top:15px;word-wrap:break-word}
.widget{margin-bottom:30px}
.widget-list{padding:0;list-style:none}
.widget-list li{margin:5px 0;line-height:1.6}
.widget-list li ul{margin-left:15px}
#footer{position:absolute;bottom:0;left:0;overflow:hidden;margin-left:20%;width:80%;background-color:hsla(0,0%,93%,.8);color:#777;text-align:center;line-height:2.5rem;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#BFFFFFFF, endColorstr=#BFFFFFFF)}
.error-page{margin:5pc 0;padding:20px 10px;background-color:hsla(0,0%,100%,.74)}
.message{position:fixed;top:40px;right:4px;display:none;padding:10px;width:230px;border-radius:6px;background-color:rgba(145,197,197,.69);animation:messagein 1.5s;-webkit-animation:messagein 1.5s}
@keyframes messagein{0%{right:-25pc}
}
.comment-content,.post-content{word-wrap:break-word;line-height:1.5}
.comment-content h2,.post-content h2{font-size:1.28571em}
.comment-content img,.comment-content video,.post-content img,.post-content video{max-width:100%}
.comment-content a img,.post-content a img{position:relative;bottom:-4px;background:#fff}
.comment-content hr,.post-content hr{margin:2em auto;width:75pt;border:1px solid #e9e9e9;border-width:2px 0 0}
.aligncenter,div.aligncenter{display:block;margin-right:auto;margin-left:auto}
.alignleft{float:left}
.alignright{float:right}
img.alignleft{margin:0 15px 0 0}
img.alignright{margin:0 0 0 15px}
.hidden{display:none!important;visibility:hidden}
.sr-only{position:absolute;overflow:hidden;margin:-1px;padding:0;width:1px;height:1px;border:0}
.sr-only.focusable:active,.sr-only.focusable:focus{position:static;overflow:visible;clip:auto;margin:0;width:auto;height:auto}
.invisible{visibility:hidden}
@media (min-width:767px){.leftblog-menu{display:block!important}
}
@media(max-width:767px){body{padding:0}
.blog-left{position:static;float:none;padding-top:20px;width:auto}
.leftnav>.leftblog-menubar{position:fixed;top:30px;right:20px;z-index:3;display:block;background-color:rgba(55,55,55,.6)}
.leftblog-menu{position:fixed;top:0;left:0;z-index:2;display:none;width:100%;background:#2d3642}
.leftblog-menu>li{padding:10px 0;border-bottom:1px solid #4e4c4c}
.container{margin:0}
.container-main{margin:0;padding:0}
.post,.post-wrap{margin-bottom:0}
.post{border-radius:0}
.post-near{display:none}
#footer{position:relative;margin-left:0;width:100%}
.hcset{padding-top:3px}
}
.firstRow{background-color:rgba(125,212,156,.65)}
@keyframes dou{25% {transform: rotate(10deg)}0% {transform: rotate(0deg)}75% {transform: rotate(-10deg)}100% {transform: rotate(0deg)}}
@keyframes join{
0% {left:-20%}
100% {left: 0}
}